@use '../base/_variable.scss' as vars;

.btn-list {
    display: block;
    display: flex;
    width: 100%;
    flex-direction: column;

    &--open {
        background-color: vars.$gray-opacity;
    }

    &__icon {
        &--open,
        &--close {
            width: 32px;
            height: 32px;

            @media (max-width: 768px) {
                width: 16px;
                height: 16px;
            }
        }

        &--open {
            transform: rotate(180deg);
            transition: transform 0.3s ease-in-out;
        }

        &--close {
            transform: rotate(0deg);
            transition: transform 0.3s ease-in-out;
        }
    }
    

    button {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        background-color: vars.$red;
        color: vars.$white;
        padding: 10px;
        border-radius: 5px;
        border: none;
        font-weight: vars.$font-weight-bold;
        font-size: vars.$font-size-small;

        @media (max-width: 768px) {
            font-size: vars.$font-size-mobile-medium;
        }
    }

    &__list,
    &__description {
        padding: 20px;
        line-height: 142.6%;
    }
}