@use '../base/_variable.scss' as vars;

.rating {
    display: flex;
    align-items: center;

    img {
        fill: vars.$red;

        @media (max-width: 768px) {
            height: 18px;
        }
    }
}